@model IEnumerable<InscripcionSolution.Models.Estudiante>

@{
    ViewBag.Title = "Listar Alumnos";
    
}

<h2>Lista de Alumnos</h2>

<p>
    @Html.ActionLink("Crear Nuevo Alumno", "Create")
</p>
<table class="table">
    <tr>
        <th>
          @*@Html.DisplayNameFor(model => model.Nombre*@ @*Muestra los nombres de las columnas de la clase parcial definidas*@
            Nombre Completo
        </th>
        <th>
          @*@Html.DisplayNameFor(model => model.Edad)*@
            Edad
        </th>
        <th>
          @*@Html.DisplayNameFor(model => model.Sexo)*@
            Sexo
        </th>
        <th>
          @* @Html.DisplayNameFor(model => model.FechaNacimiento)*@
            Fecha de Nacimiento
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreCompleto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Edad)
        </td>
        <td>
            @{
                if(item.Sexo == "M")
                {
                    <span>Masculino</span>

                }
                else
                {
                    <span>Femenino</span>
                }

            }
            
        </td>
        <td>
            @item.FechaNacimiento.ToShortDateString();
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
